{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'project_list' %}">{% trans 'Projects Management' %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'project_list' %}">{%trans 'Home'%}</a>
        </li>
      </ul>
      <form method="GET" action="{% url 'project_list'%}" class="d-flex">
        <div class="input-group">
          <input
              type="text"
              class="form-control"
              placeholder="{% trans 'Search...' %}"
              name="q"
              value="{{ request.GET.q }}"
          >
          <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>