.env
.idea/

# إخفاء ملفات البيانات الحساسة (الأهم)

# إخفاء ملفات بايثون المؤقتة
__pycache__/
*.py[cod]
*$py.class

# إخفاء قاعدة البيانات المحلية (إذا كنت تستخدم sqlite3 أحياناً)
db.sqlite3

# إخفاء مجلدات البيئة الافتراضية
venv/
env/
ENV/


# إخفاء ملفات النظام
.DS_Store
Thumbs.db
